@model ponteverde.Models.loja
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var oUserSession = Session["UserSession"] as ponteverde.Helpers.SessionController.UserSession;
}


<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">PonteVerde<img src="../../Content/images/logo.png"></span>

                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>

                <!-- PESQUISA BOX -->
                <a href="~/Busca">
                    <button class="mdl-button mdl-js-button" style="color:white;">
                        <i class="material-icons">search</i>
                    </button>
                </a>

                <!-- BOTAO BOLINHA -->
                <!-- Right aligned menu below button -->
                <button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">more_vert</i>
                </button>

                @if (oUserSession != null)
                {
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
                    <li class="mdl-menu__item"><a href="">Logout</a></li>
                    @if (oUserSession.idConta == Model.idUsername)
                    {
                    <li class="mdl-menu__item"><a href="~/loja/config">Configurações</a></li>
                    }
                </ul>
                }
                else
                {
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">                    
                    <li class="mdl-menu__item"><a href="~/entrar">Logar</a></li>                                        
                </ul>
                }             
            </div>
        </header>
     
        <!-- MENU GAVETA-->
        @Html.Partial("~/Views/Shared/Drawer.cshtml")
        
        <!-- CONTEÚDO -->
        <main class="mdl-layout__content ">

            @if (oUserSession != null)
            {
                if (oUserSession.isCliente)
                {
                <button id="b-top" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                   <i class="material-icons">thumb_up</i>
               </button>                     
                }                                                 
            }
            <div class="mdl-grid" id="perfil-grid">
                <div class="mdl-cell mdl-cell--12-col" id="perfil-col-12">
                    <div id="wallpaper-perfil" style="background-image: url(../@Model.fotowall);" class="mdl-shadow--4dp">
                    </div>
                    <center>
                        <div id="foto-perfil" style="background-image: url(../@Model.fotoperfil); " class="mdl-shadow--6dp"></div>
                        <h3 id="title-perfil">@Model.nome</h3>
                        <h3 id="subtitle-perfil">Seguidores @Model.lojafavorita.Count()</h3>
                    </center>
                </div>
                <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet p-control">
                    <p>	<i class="material-icons l-green" role="presentation">place</i>	@Model.logradouro, @Model.numero</p>
                </div>
                <div class="mdl-cell mdl-cell--4-col  mdl-cell--8-col-tablet p-control p-control-hide">
                    <a href="twitter.com">
                        <button class="mdl-mini-footer--social-btn social-btn social-btn__twitter">
                            <span class="visuallyhidden">Twitter</span>
                        </button>
                    </a>
                    <a href="@Model.linkface">
                        <button class="mdl-mini-footer--social-btn social-btn social-btn__blogger">
                            <span class="visuallyhidden">Facebook</span>
                        </button>
                    </a>
                    <a href="google.plus.com">
                        <button class="mdl-mini-footer--social-btn social-btn social-btn__gplus">
                            <span class="visuallyhidden">Google Plus</span>
                        </button>
                    </a>
                </div>
                <div class="mdl-cell mdl-cell--4-col  mdl-cell--8-col-tablet p-control">
                    <p class="mdl-typography--font-light mdl-typography--subhead l-yellow">
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                    </p>
                </div>
                <!-- CATEGORIAS -->
                <div class="mdl-cell mdl-cell--12-col div-button-googleplay-category p-control">
                    @foreach (var categoria in Model.categoria)
                    {
                        <p class="buttom-googleplay-category">@categoria.descricao</p>    
                    }                                        
               </div>

                <!-- MENU PAGES -->
                <div id="p-pages-menu" class="mdl-grid">

                    @foreach (var prod in Model.produto)
                    {
                    <!-- produto -->
                    <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp l-prod">
                        <div class="l-prod-img">
                            <img src="../@prod.linkfoto">
                        </div>
                        <div class="l-prod-desc">
                            <a href="produto.html"><h5>@prod.nome</h5></a>
                            <h6>R$ @prod.preco</h6>
                        </div>
                    </div>  
                    }                    
                </div>

                <!-- end grid -->
            </div>

            <!-- FORM FAVORITAR -->
            <div id="form-modal" class="mdl-shadow--3dp">
                <div id="foto-modal" style="background-image: url(../@Model.fotoperfil); " class="mdl-shadow--6dp"></div>
                <div class="form-modal-text">
                    <h4>@Model.nome</h4>
                    <h6>Deseja favoritar essa loja?</h6>
                    <button id="favoritar-loja-button" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored ">
                        favoritar
                    </button>
                    <button id="form-modal-cancela" class="mdl-button mdl-js-button mdl-js-ripple-effect">
                        cancelar
                    </button>
                    <center><p id="favoritar-msg" style="color:red; display:none;"></p></center>
                </div>
            </div>

            <!-- RODAPE -->
            <footer class="footer">
                <div class="footer-title">
                    <h6 style="color:#666;">LES | 2015 PONTEVERDE</h6>
                </div>
            </footer>
        </main>
    </div>
</body>

<script src="~/Scripts/carousel/jquery.bpopup.min.js"></script>

<script>
    var bPopup;
    
    $(document).ready(function () {       

        $('#b-top').click(function () {           
            bPopup = $('#form-modal').bPopup();
        });

        $('#form-modal-cancela').click(function () {
            bPopup.close();
        });
        
    // END FORM MODAL
    });

    function fecharmodal(){
        bPopup.close();
    }

    var btnFavoritar = document.getElementById("favoritar-loja-button");
    btnFavoritar.onclick = function()
    {                

        var idloja = @Model.id;
        var path = window.location.hostname;
        var port = window.location.port;     
            
        $.ajax
         ({
             method: "POST",
             url: "http://"+ path + ":" + port + "/loja/favoritarloja",	             
             data: {idLoja : idloja},			
             dataType: "json",                 
         }) 
        .success(function(response) 	 	
        {
            $("#favoritar-msg").toggle("slow");
            $("#favoritar-msg").empty();
            $("#favoritar-msg").append(response);
            $("#favoritar-loja-button").toggle("fast");
            $("#form-modal-cancela").css("margin-right","20px");
        })

        .error(function(response)
        {
            $("#favoritar-msg").toggle("slow");
            $("#favoritar-msg").empty();
            $("#favoritar-msg").append(response);
            $("#favoritar-loja-button").toggle("fast");            
        });
    };
</script>

