@model ponteverde.Controllers.Dto.ClienteCadastroDto
@{
    ViewBag.Title = "New";

    var ajaxOptions = new AjaxOptions()
   {
       HttpMethod = "POST",
       UpdateTargetId = "login-form",
       InsertionMode = InsertionMode.Replace,
   };
}
@using (Ajax.BeginForm("Create", "Cliente", ajaxOptions, new { id = "form-cliente-new" , role="form"}))
{
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        @Html.TextBoxFor(model => model.Usuario.username, new { @class = "mdl-textfield__input", id = "sample1 login-input" })
        <label class="mdl-textfield__label" for="sample1">Login (sem espaços ou caractéres especiais)</label>
        <span class="mdl-textfield__error">@Html.ValidationMessageFor(model => model.Usuario.username)</span>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        @Html.TextBoxFor(model => model.Usuario.password, new { @class = "mdl-textfield__input", id = "sample2 login-input" })
        <label class="mdl-textfield__label" for="sample2">Senha</label>
        <span class="mdl-textfield__error">@Html.ValidationMessageFor(model => model.Usuario.password)</span>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        @Html.TextBoxFor(model => model.Cliente.nome, new { @class = "mdl-textfield__input", id = "sample3 login-input" })
        <label class="mdl-textfield__label" for="sample3">Nome Completo</label>
        <span class="mdl-textfield__error">@Html.ValidationMessageFor(model => model.Cliente.nome)</span>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        @Html.TextBoxFor(model => model.Usuario.email, new { @class = "mdl-textfield__input", id = "sample4 login-input" })
        <label class="mdl-textfield__label" for="sample4">Email</label>
        <span class="mdl-textfield__error">@Html.ValidationMessageFor(model => model.Usuario.email)</span>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        @Html.TextBoxFor(model => model.nomeCidade, new { @class = "mdl-textfield__input", id = "sample4 login-input" })
        <label class="mdl-textfield__label" for="sample4">Cidade</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        @Html.TextBoxFor(model => model.nomeBairro, new { @class = "mdl-textfield__input", id = "sample5 login-input" })
        <label class="mdl-textfield__label" for="sample5">Bairro</label>
    </div>
    <p style="color:#de3226;">@ViewBag.Error</p>
        <!-- ERRRMENSAGE -->
        <!-- <span class="mdl-textfield__error">Digits only</span> -->
    <button id="login-button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
        CADASTRAR
    </button>
    <a herf="~/ " type="submit" id="login-button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">keyboard_arrow_left</i> VOLTAR PARA LOGIN
    </a>        
}
           

