@model ponteverde.Models.cliente
@{
    ViewBag.Title = "Perfil";

    var oUserSession = Session["UserSession"] as ponteverde.Helpers.SessionController.UserSession;
}

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">PonteVerde<img src="~/Content/images/logo.png"></span>

                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>

                <!-- PESQUISA BOX -->
                <a href="~/Busca">
                    <button class="mdl-button mdl-js-button" style="color:white;">
                        <i class="material-icons">search</i>
                    </button>
                </a>

                <!-- BOTAO BOLINHA -->
                <!-- Right aligned menu below button -->
                <button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">more_vert</i>
                </button>

                @if (oUserSession != null)
                {
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
                    <li class="mdl-menu__item"><a href="~/logout">Logout</a></li>
                    
                    @if (oUserSession.idConta == Model.idUsername){<li class="mdl-menu__item"><a href="">Configurações</a></li>}
                </ul>    
                }
                else
                {
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
                    <li class="mdl-menu__item"><a href="~/entrar">Logar</a></li>                                        
                </ul>    
                }                
            </div>
        </header>
                
        <!-- MENU GAVETA-->
        @Html.Partial("~/Views/Shared/Drawer.cshtml")                

        <!-- CONTEÚDO -->
        <main class="mdl-layout__content">

            <!-- BOTAO PARA CONFIGURAR -->
            @if (oUserSession != null && oUserSession.idConta == Model.idUsername)
            {                            
            <a href="#">
                <button id="b-back" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
                    <i class="material-icons">settings</i>
                </button>
            </a>
            }

            <div class="mdl-grid" id="perfil-grid">
                <div class="mdl-cell mdl-cell--12-col" id="perfil-col-12">
                    <div id="wallpaper-perfil" style="background-image: url(../@Model.fotowall);" class="mdl-shadow--4dp"></div>
                    <center>
                        <div id="foto-perfil" style="background-image: url(../@Model.fotoperfil); " class="mdl-shadow--6dp"></div>
                        <h3 id="title-perfil">@Model.nome</h3>
                        <h3 id="subtitle-perfil">Seguindo @Model.lojafavorita.Count</h3>
                    </center>
                </div>
                <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet p-control">
                    <p>	<i class="material-icons" role="presentation">place</i>	@Model.logradouro, @Model.numero</p>
                </div>                

                <!-- MENU PAGES -->
                <div id="p-pages-menu">
                    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                        <div class="mdl-tabs__tab-bar">
                            <a href="#starks-panel" class="mdl-tabs__tab is-active">
                                Lojas Favoritas
                            </a>
                            <a href="#lannisters-panel" class="mdl-tabs__tab">
                                Produtos Favoritos
                            </a>
                            <a href="#targaryens-panel" class="mdl-tabs__tab">
                                Promos Visitadas
                            </a>
                        </div>

                        <!-- LOJAS --------------------------------------------------------------------------------------- -->
                        <div class="mdl-tabs__panel is-active" id="starks-panel">
                            <div class="mdl-grid">

                                @foreach (var listaloja in @Model.lojafavorita)
                                {
                                <!-- loja -->
                                <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp p-prod">
                                    <div class="p-prod-img">
                                        <img src="../@listaloja.loja.fotowall">
                                    </div>
                                    <div class="p-prod-desc">
                                        <h5>@listaloja.loja.nome</h5>
                                        <a target="_blank" 
                                           href="http://@String.Format("{0}{1},{2}-{3},{4}","www.google.com.br/maps/place/",@listaloja.loja.logradouro,@listaloja.loja.numero,@listaloja.loja.bairro.nome,@listaloja.loja.bairro.cidade.nome)">
                                            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
                                                <i class="material-icons">directions_car</i>
                                            </button>
                                        </a>
                                        <a href="~/Loja/Perfil/@listaloja.loja.idUsername">
                                            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
                                                <i class="material-icons">book</i>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                                }
                               
                            </div>
                        </div>

                        <!-- PRODUTOS --------------------------------------------------------------------------------------- -->
                        <div class="mdl-tabs__panel" id="lannisters-panel">
                            <div class="mdl-grid">
                                @foreach (var listaprod in @Model.produtofavorito)
                                {
                                <!-- produto -->
                                <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--3dp l-prod">
                                    <div class="l-prod-img">
                                        <img src="../@listaprod.produto.linkfoto">
                                    </div>
                                    <div class="l-prod-desc">
                                        <h5>@listaprod.produto.nome</h5>
                                        <h6>R$ @listaprod.produto.preco</h6>
                                    </div>
                                </div>    
                                }                                
                            </div>
                        </div>

                        <!-- PROMOS --------------------------------------------------------------------------------------- -->
                        <div class="mdl-tabs__panel" id="targaryens-panel">

                        </div>
                    </div>
                </div>
            </div>
            <!-- RODAPE -->
            <footer class="footer">
                <div class="footer-title">
                    <h6 style="color:#666;">+ 2015 PONTEVERDE</h6>
                </div>
            </footer>
        </main>
    </div>
</body>

